.ww-whatsapp-button {
    display: flex;
    flex-wrap: wrap;
    background: #03cc0b;
    border-radius: 6px;
    overflow: hidden;
    align-items: center;
    color: #ffffff;
    text-decoration: none !important;
    box-shadow: none !important;
    outline: none !important;
    flex: 0 0 100%;
    max-width: 360px;
}

.ww-container.ww-std .ww-whatsapp-button {
    padding: 6px;
}

.ww-container.ww-std .ww-whatsapp-button.smallScreen {
    padding: 2px;
}

.ww-container.ww-std .ww-whatsapp-button.smallScreen span.agent-label span.status {
    display: none !important;
}

.entry .entry-content .ww-whatsapp-button {
    color: #ffffff !important;
    text-decoration: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.ww-whatsapp-button.Offline {
    filter: grayscale(100%);
    opacity: 0.7;
}

.ww-whatsapp-button.Offline span.agent-avatar-fig img {
    filter: grayscale(100%);
}

.ww-whatsapp-button.Offline .agent-message {
    display: none !important;
}

.ww-whatsapp-button span.agent-avatar-fig {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    max-width: 50px;
    position: relative;
    display: block;
}

.ww-whatsapp-button span.agent-avatar-fig img {
    width: 100%;
    max-height: 50px;
    margin: 0 !important;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
}

.ww-whatsapp-button span.agent-detail-fig {
    padding: 4px 15px;
    max-width: calc(100% - 50px);
    flex: 1;
    color: #ffffff;
    line-height: 100%;
}

@media screen and (max-width: 544px) {
    .ww-whatsapp-button span.agent-detail-fig {
        max-width: calc(100% - 30px);
        padding: 0 5px !important;
    }
}

.ww-whatsapp-button span.agent-detail-fig span.agent-message {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

@media screen and (max-width: 480px) {
    .ww-whatsapp-button span.agent-detail-fig span.agent-message {
        font-size: 12px;
        line-height: 20px;
    }
}

.ww-whatsapp-button span.agent-label {
    font-size: 12px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 2px;
}

@media screen and (max-width: 544px) {
    .ww-whatsapp-button span.agent-label {
        position: relative;
    }
}

.ww-whatsapp-button span.agent-label span.status {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 10px;
    opacity: 0.5;
}

@media screen and (max-width: 544px) {
    .ww-whatsapp-button span.agent-label span.status {
        font-size: 0;
        line-height: 0;
    }
}

.ww-whatsapp-button span.agent-label span.status:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ffffff;
    border-radius: 5px;
    vertical-align: text-top;
    margin: 0 5px 0 0;
}

@media screen and (max-width: 544px) {
    .ww-whatsapp-button span.agent-label span.status:before {
        margin-right: 3px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.ww-whatsapp-button span.agent-name {
    display: inline-block;
    vertical-align: middle;
}

.ww-whatsapp-button.Online span.agent-label span.status {
    opacity: 1;
}

.ww-container {
    padding-top: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.ww-container .chat,
.ww-container .department,
.ww-container .agent-number {
    display: none;
}

.ww-container.ww-std {
    margin-top: 10px;
}

.ww-container {
    margin: 20px 0;
    line-height: 100%;
    position: relative;
}

.ww-container * {
    box-sizing: border-box;
}

.ww-container #notification-badge {
    background-color: #ff0000;
    font-size: 11px;
    line-height: 12px;
    color: #fff;
    text-align: center;
    padding: 3px 6px;
    border-radius: 50px;
    position: absolute;
    top: -3px;
    right: -3px;
    z-index: 10000;
}

.ww-container span#contact-trigger.ww-whatsapp-icon-only + #notification-badge {
    top: 0;
    right: 0;
}

.ww-container .ww-whatsapp-button {
    position: relative;
    display: block;
    padding: 10px !important;
    min-height: 55px;
    background-color: transparent !important;
    color: #000000 !important;
    font-size: 16px !important;
    transform: translateY(0);
    text-align: left !important;
    margin-right: 20px !important;
    box-shadow: 0 0 0 rgba(38, 211, 103, 0.08) !important;
    transition: transform ease-in 0.2s, box-shadow ease-in-out 0.2s, border ease-in-out 0.2s;
}

.ww-container .ww-whatsapp-button span.department,
.ww-container .ww-whatsapp-button span.text span.status {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    color: #bababa;
}

.ww-container:not(.ww-whatsapp-chat-std) .ww-whatsapp-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 35px;
    height: 35px;
    margin-top: -18px;
    left: 10px;
    background-repeat: no-repeat;
    background-image: url(../images/whatsapp-icon-a.svg);
    background-size: 20px;
    background-position: center;
    background-color: #0ed459;
    border-radius: 20px;
}

.ww-container ul.ww-whatsapp-content li {
    line-height: 18px;
    background: #fafafc;
    padding: 5px 10px;
    position: relative;
    list-style-type: none;
    margin: 0;
}

.ww-container ul.ww-whatsapp-content li:nth-child(2) {
    padding-top: 10px;
}

.ww-container ul.ww-whatsapp-content li:nth-last-child(2) {
    padding-bottom: 10px;
}

.ww-container ul.ww-whatsapp-content li a.ww-whatsapp-button .ww-whatsapp-avatar + span.ww-whatsapp-text {
    margin-left: 50px;
    padding-left: 0;
}

.ww-container ul.ww-whatsapp-content li a.ww-whatsapp-button .ww-whatsapp-avatar + span.ww-whatsapp-text:after {
    margin-right: 8px;
}

.ww-container.ww-floating {
    position: fixed;
    z-index: 9999;
    display: block;
    width: auto;
    padding-top: 0;
}

.ww-container.ww-floating ul.ww-whatsapp-content {
    position: absolute;
    bottom: 100%;
    margin: 0;
    padding: 0;
    width: calc(100vw - 60px);
    max-width: 320px;
    margin: 0 0 6px 0 !important;
    background: #ffffff;
    padding: 0;
    list-style-type: none;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: opacity ease-in-out 0.3s 0.6s, visibility ease-in-out 0.3s 0.6s, margin ease-in-out 0.3s 0.6s;
}

.ww-container.ww-floating ul.ww-whatsapp-content:after {
    content: "";
    position: absolute;
    display: block;
    top: 100%;
    border-width: 8px 8px 0 8px;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
}

.ww-container.ww-floating ul.ww-whatsapp-content li a.ww-whatsapp-button {
    width: 100%;
    display: block;
    margin: 0 !important;
    border-width: 0 0 0 0 !important;
    border-radius: 0 !important;
    background: #ffffff !important;
}

.ww-container.ww-floating ul.ww-whatsapp-content li a.ww-whatsapp-button:hover {
    transform: translateY(0) !important;
    box-shadow: none !important;
}

.ww-container.ww-floating ul.ww-whatsapp-content li a.ww-whatsapp-button:after, .ww-container.ww-floating ul.ww-whatsapp-content li a.ww-whatsapp-button:before {
    display: none;
}

.ww-container.ww-floating ul.ww-whatsapp-content li a.ww-whatsapp-button span.ww-whatsapp-text {
    padding-left: 50px;
    font-weight: 600 !important;
    display: block;
    position: relative;
    min-height: 40px;
    margin-left: 0;
}

.ww-container.ww-floating ul.ww-whatsapp-content li a.ww-whatsapp-button span.ww-whatsapp-text span.ww-whatsapp-label {
    font-size: 12px;
    display: block;
    font-weight: 400;
    color: #bababa !important;
    white-space: nowrap;
    overflow: hidden;
}

.ww-container.ww-floating ul.ww-whatsapp-content li a.ww-whatsapp-button span.ww-whatsapp-text span.ww-whatsapp-label span.status {
    font-size: 11px;
}

.ww-container.ww-floating ul.ww-whatsapp-content li a.ww-whatsapp-button span.ww-whatsapp-text:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: #03cc0b;
    position: absolute;
    top: 0;
    margin-right: -40px;
    right: 100%;
    border-radius: 10px;
    border: solid 1px #ffffff;
}

.ww-container.ww-floating ul.ww-whatsapp-content li a.ww-whatsapp-button .ww-whatsapp-avatar {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: solid 2px #03cc0b;
    min-height: auto;
}

.ww-container.ww-floating ul.ww-whatsapp-content li a.ww-whatsapp-button .ww-whatsapp-avatar.ww-image {
    margin: 0 !important;
}

.ww-container.ww-floating ul.ww-whatsapp-content li.unavailable {
    pointer-events: none;
    filter: grayscale(100%);
    opacity: 0.7;
}

.ww-container.ww-floating ul.ww-whatsapp-content li.unavailable a.ww-whatsapp-button {
    border-left-color: #efc33c !important;
    color: #bbbbbb !important;
}

.ww-container.ww-floating ul.ww-whatsapp-content li.unavailable a.ww-whatsapp-button:hover {
    color: #bbbbbb !important;
}

.ww-container.ww-floating ul.ww-whatsapp-content li.unavailable a.ww-whatsapp-button span.ww-whatsapp-text:after {
    background: #bababa;
}

.ww-container.ww-floating ul.ww-whatsapp-content li.unavailable a.ww-whatsapp-button span.ww-whatsapp-text span.ww-whatsapp-label span.status {
    color: #bababa;
}

.ww-container.ww-floating ul.ww-whatsapp-content li.unavailable a.ww-whatsapp-button .ww-whatsapp-avatar {
    border: solid 2px #bababa;
}

.ww-container.ww-floating ul.ww-whatsapp-content li.available a.ww-whatsapp-button {
    border-left-color: #03cc0b !important;
}

.ww-container.ww-floating ul.ww-whatsapp-content li.available a.ww-whatsapp-button span.ww-whatsapp-text span.ww-whatsapp-label span.status {
    color: #03cc0b;
}

.ww-container.ww-floating ul.ww-whatsapp-content li.ww-content-header {
    padding: 15px;
    background: #03cc0b;
    border-radius: 10px 10px 0 0;
}

.ww-container.ww-floating ul.ww-whatsapp-content li.ww-content-header .icon {
    float: left;
    width: 34px;
    position: absolute;
    top: 15px;
    left: 15px;
    height: auto;
}

.ww-container.ww-floating ul.ww-whatsapp-content li.ww-content-header h5 {
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0;
    text-transform: none;
    margin: 0 0 0 50px;
    padding: 0;
}

.ww-container.ww-floating ul.ww-whatsapp-content li.ww-content-header h5 span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    margin: 2px 0 0 0;
}

.ww-container.ww-floating ul.ww-whatsapp-content li.ww-content-footer {
    background: #ffffff;
    position: relative;
    z-index: 2;
    box-shadow: 0 -20px 20px rgba(82, 99, 158, 0.03);
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding: 0;
}

.ww-container.ww-floating ul.ww-whatsapp-content li.ww-content-footer p {
    font-size: 12px;
    line-height: 14px;
    padding: 15px;
    margin: 0;
}

.ww-container.ww-floating.open ul.ww-whatsapp-content {
    opacity: 1;
    visibility: visible;
    margin-bottom: 25px !important;
    transition: opacity ease-in-out 0.3s, visibility ease-in-out 0.3s, margin ease-in-out 0.3s;
}

.ww-container.ww-floating.bottom-right {
    bottom: 30px;
    right: 30px;
}

.ww-container.ww-floating.bottom-left {
    bottom: 30px;
    left: 30px;
}

.ww-container.ww-floating.bottom-right ul.ww-whatsapp-content {
    right: 0;
}

.ww-container.ww-floating.bottom-right ul.ww-whatsapp-content:after {
    right: 20px;
}

.ww-container.ww-floating.bottom-left ul.ww-whatsapp-content {
    left: 0;
}

.ww-container.ww-floating.bottom-left ul.ww-whatsapp-content:after {
    left: 20px;
}

.ww-container span#contact-trigger {
    background: #03cc0b;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    line-height: 18px;
    padding: 10px 20px;
    display: block;
    cursor: pointer;
    border-radius: 50px;
    transform: translateY(0) scale(1);
    transition: transform ease-in-out 0.2s;
}

.ww-container span#contact-trigger .icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 17px;
    height: auto;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

.ww-container span#contact-trigger.ww-whatsapp-icon-only {
    padding: 15px;
    border-radius: 50px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.ww-container span#contact-trigger.ww-whatsapp-icon-only .icon {
    width: 31px;
    font-size: 30px;
    margin-right: 0;
}

.ww-container span#contact-trigger:hover {
    transform: translateY(5px) scale(1);
}

.ww-container a.close-chat {
    font-size: 0;
    position: absolute;
    bottom: 85%;
    margin-bottom: -5px;
    width: 30px;
    margin-right: -5px;
    height: 30px;
    right: 0;
    line-height: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: opacity ease-in 0.3s 0.3s, transform ease-in 0.3s 0.3s, margin ease-in-out 0.2s 0.3s, box-shadow ease-in-out 0.3s 0.3s;
    opacity: 0;
    cursor: pointer;
}

.ww-container a.close-chat:after, .ww-container a.close-chat:before {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: #9e9e9e;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: rotate(0deg);
    margin-top: -1px;
}

.ww-container a.close-chat:after {
    transition: transform ease-in-out 0.3s 0s, background ease-in 0.3s 0s;
}

.ww-container a.close-chat:before {
    transition: transform ease-in-out 0.3s 0.15s, background ease-in 0.3s 0.15s;
}

.ww-container a.close-chat:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ww-container a.close-chat:hover:after, .ww-container a.close-chat:hover:before {
    background: #03cc0b;
}

.ww-container.open a.close-chat {
    opacity: 1;
    transition: opacity ease-in 0.3s 0.3s, transform ease-in 0.3s 0.3s, margin ease-in-out 0.2s 0.3s, box-shadow ease-in-out 0.3s 0.3s;
}

.ww-container.open a.close-chat:before {
    transform: rotate(45deg);
    transition: transform ease-in-out 0.3s 0.45s, background ease-in 0.3s 0.45s;
}

.ww-container.open a.close-chat:after {
    transform: rotate(135deg);
    transition: transform ease-in-out 0.3s 0.6s, background ease-in 0.3s 0.6s;
}

@media only screen and (max-width: 480px) {
    span#contact-trigger.ww-whatsapp-icon-only {
        padding: 15px;
    }
}

.ww-container.ww-std a {
    background-color: #03cc0b
}
